<!DOCTYPE html>
<html>
<head>
<title>Create a New Account</title>
</head>

<meta charset="UTF-8">


<body>
	<!-- Include Bootstrap for styling-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- Include React -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	 <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	
	<!-- include css --> 
	<link rel="stylesheet" href="../css/new_account.css"> 
	
	<!-- <h3 class="mb-3 text-center">Pre-approval form</h1>  !-->

	<div class="content"> 
		<nav class="site-header sticky-top py-1 navbar navbar-inverse text-center">
			<h3 class="largetext">Create New Account</h3>
		</nav>
		<table class="wide_table">
			<tbody>
				<tr>
					<td>
						<div class="card main-card border-primary shadow-lg rounded float-right w-30">
							<div id="form_card_body" class="card-body">
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div><!--src="js/index.js" -->
	<script type="text/babel"> 
class NewAccountForm extends React.Component {
	constructor(props) {
		super(props);
		this.state = {
		  email: '',
		  password1: '',
		  password2:'',
		  err_general:0,
		  err_email: '',
		  err_password1:'',
		  err_password2:''
		};
	  }
	  handleChange= (event) =>{
		let ename = event.target.name;
		let evalue = event.target.value;
		this.setState({[ename]: evalue});
	  }
	  
	  validateSubmit= (event) => {	
		event.preventDefault();
		this.state.err_general=0;
		
		//Create regex for alphanumeric tests
		var email_match= /^[0-9a-zA-Z._]+@[0-9a-zA-Z]+.com/;
		
		//validate Username field
		//console.log("Email match: "+email_match.test(this.state.email));
		if(!email_match.test(this.state.email)){
			this.state.err_general=1;
			this.setState({["err_email"]:"Enter a valid email address"});
			//console.log("VS: "+this.state.email);
		}else{
			this.setState({["err_email"]:""});
		}
		
		
		var password_match= /^[0-9a-zA-Z]+@[0-9a-zA-Z]+[.com]$/;
		
		if(!Number(this.state.investment_amount)){
			this.state.err_general=1;
			this.setState({["err_investment_amount"]:"This field can only contain numbers"});
		}else{
			this.setState({["err_investment_amount"]:""});
		}
		

		
		
	  }
	  render() {
	  	return(
			<form onSubmit={this.validateSubmit} class="col-lg-8 offset-lg-3 ">
				{this.state.err_general > 0 ? (
					<div class="alert alert-danger" role="alert">Please correct the errors below</div>
					): null }
					
				<div class="form-group row">
					<label class="col-sm-6 col-form-label required_label" for="email">Username </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="email" name="email" onChange={this.handleChange} placeholder="Enter a valid email address" required />
						<div class="text-danger"><small>{this.state.err_email}</small></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-6 col-form-label required_label" for="password1">Password </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="password1" name="password1" onChange={this.handleChange} placeholder="Must include at least 8 characters and one number or special character" required/>
						<div class="text-danger"><small>{this.state.err_password1}</small></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-6 col-form-label required_label" for="password2">Re-Enter Password </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="password2" name="password2" onChange={this.handleChange} placeholder="This value must match the password field" required/>
						<div class="text-danger"><small>{this.state.err_password2}</small></div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-9">
					<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
			);
		}
	}

	ReactDOM.render(<NewAccountForm />, document.getElementById('form_card_body'));
	</script>
</body>
</html>