<!DOCTYPE html>
<html>
<head>
<title>Create a New Account</title>
</head>

<meta charset="UTF-8">


<body>
	<!-- Include Bootstrap for styling-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- Include React -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	 <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	
	<!-- include css --> 
	<link rel="stylesheet" href="../css/new_account.css"> 

	<div class="content"> 
		<nav class="site-header sticky-top py-1 navbar navbar-inverse text-center">
			<h3 class="largetext">Create New Account</h3>
		</nav>
		<table class="wide_table">
			<tbody>
				<tr>
					<td>
						<div class="card main-card border-primary shadow-lg rounded float-right w-30">
							<div id="form_card_body" class="card-body">
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/babel" src="../js/new_account.js"> 
	</script>
</body>
</html>